#servicos__container {
    display: flex;
    flex-direction: column;
    height: 620px;
}
.servicos__container_demonstration{
   width: 100%;
   display: flex;
}

.servicos__container_demonstration {
    display: flex;
}

.servico__container_especifico {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid rgb(0, 81, 255);
}

/* preciso voltar para corrigir as imagens
elas estão se encolhendo, aaah ódio! */
.servico__container_especifico img {
    height: 395px;
    width: 100%;
    border: 1px solid red;
}

.servico__tittle {
    font-size: 1.20rem;
    margin-top: -0.1rem;
    color: #a9806f;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.01rem;

}

.servico__description{
    font-size: 0.8rem;
    line-height: 1.1;
}

.promocoes__container {
    width: 100%;

}